@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.page-header {
  padding: 0 70px;
  margin: 0;
}

.navigation {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  width: inherit;
  display: flex;
  max-height: 64px;
  column-gap: 30px;

}

.navigation-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  max-width: 450px;
}

.navigation-user {
  display: flex;
  max-width: 350px;
  margin-left: auto;
}

.navigation-link {
  padding: 20px 16px;
}

.navigation-link-search {
  display: block;
  background-image: url("../images/icon/icons_search.svg");
  background-repeat: no-repeat;
  margin: 0;
}

.navigation-link-like {
  display: block;
  background-image: url("../images/icon/icons_like.svg");
  background-repeat: no-repeat;
  margin: 0;
}

.navigation-botton-link {
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  min-width: 160px;
  padding: 8px 50px;
  text-transform: uppercase;
}

.page-header-logo {
  position: relative;
  margin: 0;
  padding: 0;
}

.main-logo {
  background-image: url("../images/header/Vector.svg"), url("../images/header/fon-sedona.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  background-color: #333333;
}

.sedona-logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 69px 0 90px 0;
  flex-wrap: wrap;
}

.advantages-slogan {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #000000;
}

.advantages-lead {
  font-size: 22px;
  line-height: 26px;
  margin: 25px 0 0 0;
}

.advantages-list {
  text-align: center;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  display: flex;
}

.advantages-item-block {
  grid-column: 1 / -1;
  display: flex;
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-middle {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-block {
  padding: 103px 85px;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 60px 0;
}

.advantages-title::before {
  content: " ";
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.advantages-title-dark {
  color: #000000;
}

.advantages-description {
  margin: 0;

}

.service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
  flex-wrap: wrap;
}

.service-slogan {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #000000;
}

.service-lead {
  font-size: 22px;
  line-height: 26px;
  margin: 20px 0 0 0;
}

.service-list {
  text-align: center;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  padding: 0;
  list-style-type: none;
}

.service-item {
  padding: 80px 85px;
}

.service-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.service-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.service-description {
  margin: 0;
  display: flex;
  text-align: center;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 34px;
}

.search-slogan {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  color: #000000;
}

.search-lead {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 54px 0;
  text-align: center;
}

.search-hotel {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-color: #756157;
  margin: 0;
  padding: 8px 50px;
  border-radius: 4px;
}

.subscribe {
  color: #ffffff;
  background: #333333;
  background-image: url("../images/footer/subscribe-fon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 96px 258px 104px 258px;
}

.subscribe-catalog {

  padding: 96px 258px 104px 258px;
}

.subscribe-slogan {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-slogan-catalog {
  color: #000000;
}

.subscribe-lead {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  text-align: center;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.feedback-list {
  display: flex;
  justify-content: space-between;
}

.feedback {
  display: flex;
  justify-content: space-between;
}

.catalog-fon {
  background-image: url("../images/catalog-hotel/catalog-fon.jpeg");
  color: #ffffff;
  padding: 35px 70px 70px 70px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
}

.catalog-form {
  display: flex;
  margin: 0;
  padding: 0;

}

.catalog-filter-group-cost {
  display: grid;
  grid-template-columns: 288px 191px
}

.catalog-filter-group {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
}

.header-filter-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  text-align: left;
  padding: 0;
}

.catalog-hotel {
  margin: 0;
  display: grid;
  padding: 50px 70px 60px 70px;
  list-style-type: none;
}

.catalog-list-filter {
  display: flex;
  justify-content: space-between;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  gap: 20px;
  padding: 0;
  margin: 40px 0 80px 0;

}

.hotel-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  box-shadow: 0 0 0 1px rgb(230, 230, 230);
  border-radius: 4px;
  padding: 20px;
  gap: 16px 20px;
  background-color: #ffffff;
}

.hotel-item-link {
  grid-column: span 2;
  display: block;
}

.hotel-item-name-link {
  grid-column: span 2;
  margin-right: auto;
}

.hotel-item-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  color: #000000;
}

.hotel-item-type {
  margin-right: auto;
  margin: 0;
}

.hotel-item-price {
  margin-left: auto;
}


.hotel-item-link-details {
  margin-right: auto;
  background-color: #756157;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  min-width: 140px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

.hotel-item-button-favorites {
  margin-right: 0;
  background-color: #82b3d3;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: 0;
  min-width: 140px;
  padding: 8px 5px;
}

.hotel-item-stars-rating {
  margin-right: auto;
}

.item-like {
  background-color: #7db54f;
}

.hotel-item-rating {
  margin-left: auto;
  margin: 0;
}

.catalog-hotel-header {
  display: flex;
}

.view-buttons {
  display: flex;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 40px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  list-style-type: none;
  width: 360px;
}

.pagination-item {
  margin: 0;
  padding: 0;
}

.pagination-item-link {
  display: block;
  color: #ffffff;
  text-align: center;
  background-color: #82bed3;
  border-radius: 4px;
  min-width: 60px;
  padding: 12px 0;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-item-glass {
  background-color: #ffffff;
  color: #000000;
}
